---
import "../styles/banner.css";
---

<section id="banner">
  <div class="cs-container">
    <div class="cs-content">
      <h2 class="cs-title">
        DESCUBRE LA EXPERIENCIA DE VIVIR EN UN DUPLEX SMART
      </h2>
      <p class="cs-text">
        Conoce tu proximo hogar, descansa en un duplex residencial y familiar,
        ubicado en la zona con mayor potencial, a 10 minutos de san isidro.
        Último duplex de 2 dormitorios, terraza, lavanderia y cocina.
      </p>
    </div>
  </div>

  <picture class="cs-background">
    <source
      media="(min-width: 1024px)"
      srcset="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Buildings/depasmart-03.jpg"
    />
    <source
      media="(min-width: 601px)"
      srcset="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Buildings/depasmart-03.jpg"
    />
    <source
      media="(max-width: 600px)"
      srcset="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Buildings/depasmart-03.jpg"
    />
    <img
      aria-hidden="true"
      loading="lazy"
      decoding="async"
      src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Buildings/depasmart-03.jpg"
      width="275"
      height="132"
    />
  </picture>
</section>
