---
import "../styles/benefits.css";
---

<a id="benefits"></a>
<section id="benefits-title">
  <div class="cs-container">
    <h1 class="cs-title">Más tiempo para ti con las mejores comodidades.</h1>

    <section id="reviews-1672">
      <div class="cs-container">
        <ul class="cs-card-group">
          <li class="cs-item">
            <div class="wrapper">
              <p class="cs-review">
                127m2 + 18.52m2 de cochera techada. 2 dormitorios mas 1
                estudio.2 años de antigüedad. Conexión a gas Calidda en cocina,
                terma, secadora.
              </p>
            </div>
            <img
              class="cs-quote"
              aria-hidden="true"
              src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Graphics/gray-quote.svg"
              decoding="async"
              alt="quote icon"
              width="120"
              height="99"
            />
          </li>
          <li class="cs-item">
            <div class="wrapper">
              <p class="cs-review">
                1er NIVEL. Sala comedor kitchenet con barra de granito equipada
                con encimera a gas, horno y campana. Dormitorio principal con
                baño incorporado y walking closet. Segundo dormitorio. Baño
                completo.
              </p>
            </div>
            <img
              class="cs-quote"
              aria-hidden="true"
              src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Graphics/gray-quote.svg"
              decoding="async"
              alt="quote icon"
              width="120"
              height="99"
            />
          </li>
          <li class="cs-item">
            <div class="wrapper">
              <p class="cs-review">
                2° NIVEL. Sala de estar. Baño completo. Estudio. Terraza techada
                con sol y sombra. Amplia Lavandería parcialmente techada. Terma
                a gas. 1 Cochera muy amplia en sótano. Estacionamiento para
                bicicletas.
              </p>
            </div>
            <img
              class="cs-quote"
              aria-hidden="true"
              src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Graphics/gray-quote.svg"
              decoding="async"
              alt="quote icon"
              width="120"
              height="99"
            />
          </li>
        </ul>
      </div>
    </section>
  </div>

  <picture class="cs-background">
    <source
      media="(max-width: 600px)"
      srcset="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/MISC/depasmart-04.jpg"
    />
    <source
      media="(min-width: 601px)"
      srcset="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/MISC/depasmart-04.jpg"
    />
    <img
      loading="lazy"
      decoding="async"
      src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/MISC/depasmart-04.jpg"
      alt="kitchen"
      width="2250"
      height="1500"
      aria-hidden="true"
    />
  </picture>
</section>

<section id="benefits-group">
  <div class="cs-container">
    <ul class="cs-card-group">
      <li class="cs-item">
        <ul id="list-1186" class="cs-ul">
          <li class="cs-li">
            <picture class="cs-li-picture">
              <img
                class="cs-li-icon"
                aria-hidden="true"
                src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Graphics/check1.svg"
                decoding="async"
                alt="icon"
                width="32"
                height="32"
                loading="lazy"
              />
            </picture>
            <div class="cs-flex">
              <p class="cs-li-text">Construcción sismo resistente.</p>
            </div>
          </li>
          <li class="cs-li">
            <picture class="cs-li-picture">
              <img
                class="cs-li-icon"
                aria-hidden="true"
                src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Graphics/check1.svg"
                decoding="async"
                alt="icon"
                width="32"
                height="32"
                loading="lazy"
              />
            </picture>
            <div class="cs-flex">
              <p class="cs-li-text">Porteria las 24 horas.</p>
            </div>
          </li>
          <li class="cs-li">
            <picture class="cs-li-picture">
              <img
                class="cs-li-icon"
                aria-hidden="true"
                src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Graphics/check1.svg"
                decoding="async"
                alt="icon"
                width="32"
                height="32"
                loading="lazy"
              />
            </picture>
            <div class="cs-flex">
              <p class="cs-li-text">Luminarias LED en la zonas comunes.</p>
            </div>
          </li>
        </ul>
      </li>

      <li class="cs-item">
        <ul id="list-1186" class="cs-ul">
          <li class="cs-li">
            <picture class="cs-li-picture">
              <img
                class="cs-li-icon"
                aria-hidden="true"
                src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Graphics/check1.svg"
                decoding="async"
                alt="icon"
                width="32"
                height="32"
                loading="lazy"
              />
            </picture>
            <div class="cs-flex">
              <p class="cs-li-text">Sistema de alarmas contra incendios.</p>
            </div>
          </li>
          <li class="cs-li">
            <picture class="cs-li-picture">
              <img
                class="cs-li-icon"
                aria-hidden="true"
                src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Graphics/check1.svg"
                decoding="async"
                alt="icon"
                width="32"
                height="32"
                loading="lazy"
              />
            </picture>
            <div class="cs-flex">
              <p class="cs-li-text">Gas natural Cálidda.</p>
            </div>
          </li>
          <li class="cs-li">
            <picture class="cs-li-picture">
              <img
                class="cs-li-icon"
                aria-hidden="true"
                src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Graphics/check1.svg"
                decoding="async"
                alt="icon"
                width="32"
                height="32"
                loading="lazy"
              />
            </picture>
            <div class="cs-flex">
              <p class="cs-li-text">Amplio estacionamiento privado.</p>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</section>
