---
import "../styles/footer.css";
---

<footer id="cs-footer">
  <img
    class="cs-graphic"
    aria-hidden="true"
    loading="lazy"
    decoding="async"
    src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Graphics/footer.svg"
    alt="logo"
    width="1920"
    height="163"
  />
  <div class="cs-container">
    <div class="cs-logo-group">
      <a aria-label="go back to home" class="cs-logo" href="">
        <img
          class="cs-logo-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Logos/depasmart.png"
          alt="logo"
          width="197"
          height="43"
        />
      </a>
      <p class="cs-text">
        ¡Vive a 5 minutos de San Isidro! Más tiempo para ti con las mejores
        comodidades. Tres ascensores de última generación. Estacionamiento
        privado.
      </p>
    </div>
    <ul class="cs-nav">
      <li class="cs-nav-li">
        <span class="cs-header">CONTÁCTANOS</span>
      </li>
      <li class="cs-nav-li">
        <img
          class="cs-icon"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Icons/phone-stroke.svg"
          alt="phone"
          width="24"
          height="24"
        />
        <a class="cs-nav-link cs-phone" href="tel:+51993109680"
          >+51 993 109 680
        </a>
      </li>
    </ul>
  </div>
  <div class="cs-bottom">
    <span class="cs-copyright"
      >© Copyright 2024 - <a class="cs-copyright-link" href="">DEPA SMART</a
      ></span
    >
  </div>
  <picture class="cs-background">
    <source
      media="(max-width: 600px)"
      srcset="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/People/depasmart-06.jpg"
    />
    <source
      media="(min-width: 601px)"
      srcset="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/People/depasmart-06.jpg"
    />
    <img
      loading="lazy"
      decoding="async"
      src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/People/depasmart-06.jpg"
      alt="wheels"
      width="1280"
      height="568"
    />
  </picture>
</footer>
