---
import "../styles/gallery.css";
---

<section id="gallery">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Galeria</span>
      <h2 class="cs-title"></h2>
    </div>
    <div class="cs-image-group">
      <a class="cs-item" href="javascript: void(0)">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/living-room.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/living-room.jpg"
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/living-room.jpg"
            alt="fancy house"
            width="346"
            height="346"
          />
        </picture>
        <div class="cs-hover-box">
          <h3 class="cs-h3">Sala de estar</h3>
          <p class="cs-hover-box-text">
            Estilo único y moderno. Junto a la terraza forman el lugar ideal
            para reuniones familiares y visitas.
          </p>
        </div>
      </a>
      <a class="cs-item" href="">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/terrace.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/terrace.jpg"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/terrace.jpg"
            alt="modern home at night"
            width="346"
            height="346"
          />
        </picture>
        <div class="cs-hover-box">
          <h3 class="cs-h3">Terraza</h3>
          <p class="cs-hover-box-text">
            Con buena ilumincación, ideal para relajarse, divertirse y compartir
            con la familia y los amigos.
          </p>
        </div>
      </a>
      <a class="cs-item" href="javascript: void(0)">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/kitchen.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/kitchen.jpg"
          />
          <img
            loading="lazy"
            decoding="async"
            src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/kitchen.jpg"
            alt="modern house"
            width="346"
            height="346"
          />
        </picture>
        <div class="cs-hover-box">
          <h3 class="cs-h3">Cocina</h3>
          <p class="cs-hover-box-text">
            Kitchenet con barra de granito equipada con encimera a gas, horno y
            campana.
          </p>
        </div>
      </a>
      <a class="cs-item" href="">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/dining-room.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/dining-room.jpg"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/dining-room.jpg"
            alt="modern home"
            width="346"
            height="346"
          />
        </picture>
        <div class="cs-hover-box">
          <h3 class="cs-h3">Comedor</h3>
          <p class="cs-hover-box-text">
            Comedor moderno con buena iluminación y grandes ventanales que
            permiten el paso de la luz y la ventilación.
          </p>
        </div>
      </a>
      <a class="cs-item" href="">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/gym.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/gym.jpg"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/gym.jpg"
            alt="appliance"
            width="346"
            height="346"
          />
        </picture>
        <div class="cs-hover-box">
          <h3 class="cs-h3">Gimnasio</h3>
          <p class="cs-hover-box-text">
            Instalaciones cómodas y seguras, variedad de máquinas, pesas,
            colchonetas y accesorios.
          </p>
        </div>
      </a>
      <a class="cs-item" href="">
        <picture class="cs-picture">
          <source
            media="(max-width: 600px)"
            srcset="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/laundry.jpg"
          />
          <source
            media="(min-width: 601px)"
            srcset="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/laundry.jpg"
          />
          <img
            aria-hidden="true"
            loading="lazy"
            decoding="async"
            src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/laundry.jpg"
            alt="modern home"
            width="346"
            height="346"
          />
        </picture>
        <div class="cs-hover-box">
          <h3 class="cs-h3">Lavanderia</h3>
          <p class="cs-hover-box-text">
            Espacio de lavanderia dentro del edificio que cuenta con lavadoras y
            secadoras para el uso de todos los vecinos, ahorra tiempo, espacio y
            dinero.
          </p>
        </div>
      </a>
    </div>
  </div>
</section>
