---
import "../styles/gallery.css";
---

<section id="gallery">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">Galeria</span>
      <h2 class="cs-title"></h2>
    </div>
  </div>

  <section
    id="gallery-swiper"
  >
    <swiper-container
      class="mySwiper"
      pagination="true"
      effect="coverflow"
      pagination-clickable="true"
      navigation="true"
      space-between="30"
      loop="true"
      autoplay-delay="2500"
      autoplay-disable-on-interaction="false"
    >
      <swiper-slide
        ><img
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/common-areas-2.jpg"
        /></swiper-slide
      >
      <swiper-slide
        ><img
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/1st-floor-rooms.jpg"
        /></swiper-slide
      >
      <swiper-slide
        ><img
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/roomwc-1.jpeg"
        /></swiper-slide
      >
      <swiper-slide
        ><img
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/roomwc-2.jpeg"
        /></swiper-slide
      >
      <swiper-slide
        ><img
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/walking-closet.jpg"
        /></swiper-slide
      >
      <swiper-slide
        ><img
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/kitchen.jpeg"
        /></swiper-slide
      >
      <swiper-slide
        ><img
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/kitchen-2.jpeg"
        /></swiper-slide
      >
      <swiper-slide
        ><img
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/dining-room.jpg"
        /></swiper-slide
      >
      <swiper-slide
        ><img
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/bathroom.jpg"
        /></swiper-slide
      >
      <swiper-slide
        ><img
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/stairs.jpeg"
        /></swiper-slide
      >
      <swiper-slide
        ><img
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/stairs-2.jpg"
        /></swiper-slide
      >
      <swiper-slide
        ><img
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/2nd-floor-patio.jpg"
        /></swiper-slide
      >
      <swiper-slide
        ><img
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/2nd-floor-patio-2.jpg"
        /></swiper-slide
      >
      <swiper-slide
        ><img
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/living-room.jpeg"
        /></swiper-slide
      >
      <swiper-slide
        ><img
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/living-room-2.jpeg"
        /></swiper-slide
      >
      <swiper-slide
        ><img
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/terrace-1.jpg"
        /></swiper-slide
      >
      <swiper-slide
        ><img
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/terrace-2.jpg"
        /></swiper-slide
      >
      <swiper-slide
        ><img
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/floor-plan.jpg"
        /></swiper-slide
      >
      <swiper-slide
        ><img
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/gym.jpg"
        /></swiper-slide
      >
      <swiper-slide
        ><img
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/laundry.jpg"
        /></swiper-slide
      >
      <swiper-slide
        ><img
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/common-areas-1.jpg"
        /></swiper-slide
      >
      <swiper-slide
        ><img
          src="https://cdn.clouds.pe/cloudspe/landing/depa-smart/Images/Appartaments/common-areas-2.jpg"
        /></swiper-slide
      >
    </swiper-container>
  </section>
</section>
<script
  src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"
></script>
