---
import "../styles/map.css";
---

<section id="map-720">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d975.3612486054293!2d-77.02874243038404!3d-12.081658899259882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c88bdbeaa3cd%3A0xd02156a57b5f3d01!2sJir%C3%B3n%20Manuel%20Candamo%20820%2C%20Lince%2015046!5e0!3m2!1sen!2spe!4v1705371161246!5m2!1sen!2spe"
    width="100%"
    style="border:0;height:70vh;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
  >
  </iframe>
</section>
